.detail-card {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.product-image {
  margin: auto;
  margin-top: 20px;
  width: 680px;
  height: 680px;
}

.description-container {
  margin: 32px;
  text-align: left;
}

.description-content {
  margin: 32px 0;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

.img-section {
  width: 70%;
}

.buy-section {
  margin: 0 32px;
  width: 30%;
  text-align: left;
}

.buy-btn {
  width: 100%;
  margin-right: 32px;
}
